---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/vue/Hello.vue';
import HelloReact from '../components/react/HelloReact.jsx';
import '../styles/global.css';
---
<Layout title="Welcome to Astro blog page">
  <h1>Mon blog d'apprentissage Astro</h1>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
  <ul>
    <li><a href="/posts/post-1/">Article 1</a></li>
    <li><a href="/posts/post-2/">Article 2</a></li>
    <li><a href="/posts/post-3/">Article 3</a></li>
  </ul>
  <Hello client:load />
  <HelloReact client:visible />
</Layout>