---
import Stepper from '../components/vue/Stepper.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to my portfolio">
	<main>
		<Stepper client:load />
		
	</main>
</Layout>

<style lang="scss">
</style>
