---
import Layout from '../layouts/Layout.astro';
import Shell from '../components/vue/Shell.vue';
import HelloReact from '../components/react/HelloReact'
---
<Layout title="LIO PORTFOLIO">
	<main>
		<Shell 
			client:load
		/>
		<HelloReact 
			client:idle 
			client:only="react"
		/>
	</main>
</Layout>