---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/svelte/Navigation.svelte';
import Shell from '../components/vue/Shell.vue';
import HelloReact from '../components/react/HelloReact'
---
<Layout title="LIO PORTFOLIO">
	<main>
		<Navigation />
		<Shell 
			client:only="vue"
		/>
		<HelloReact 
			client:only="react" 
		/>
	</main>
</Layout>