---
import Layout from '../layouts/Layout.astro';
// import Shell from '../components/vue/Shell.vue';
import Stepper from '@/components/vue/Stepper.vue';
---
<Layout title="LIO PORTFOLIO">
	<main>
		<!-- <Shell 
			client:load 
			client:only="vue" 
		/> -->
		<Stepper 
			client:load 
			client:only
		/>
	</main>
</Layout>