---
import Layout from '../layouts/Layout.astro';
import Stepper from '../components/vue/Stepper.vue';
---
<Layout title="LIO PORTFOLIO">
	<main>
		<Stepper 
			client:load 
			client:only
		/>
	</main>
</Layout>