---
const platform = "github";
const username = "withastro";
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>

<footer>
  <p>FOOTER : Apprenez-en plus sur mes projets sur <a href={`https://www.${platform}.com/${username}`}>{platform}</a> !</p>
</footer>