.react-canvas-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    Canvas {
        border: solid 10px green;
    }
}

.react-canvas-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}