@mixin glassMorph {
	box-shadow: 0 -1px 0px var(--color-main-15),
				0 2px 2px var(--color-contrast-25),
				1px -1px 1px transparent;

}


@mixin flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin fontSmall {
	font-size: 0.5rem;
}

@mixin fontMedium {
	font-size: 0.75rem;
}

@mixin scrollbar {

		box-sizing: border-box;
		&::-webkit-scrollbar {
			width: var(--scrollbar-width);
			height: var(--scrollbar-width);
	  	}
	   
		&::-webkit-scrollbar-track {
			background: var(--color-main-15);
	  	}
	   
		&::-webkit-scrollbar-thumb {
			background: var(--color-main-65);
	  	}

	scrollbar-color: var(--color-main-45) var(--color-main-25);
  	scrollbar-width: thin;
  	scrollbar-height: thin;
}
