---
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script>
			window.toggleColorMode = () => {
				if (document.documentElement.classList.contains("light")) {
					document.documentElement.classList.remove("light")
					document.documentElement.classList.add("dark")
				} else if (document.documentElement.classList.contains("dark")) {
					document.documentElement.classList.remove("dark")
					document.documentElement.classList.add("light")
				} else {
					if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
						document.documentElement.classList.add("dark")
					} else {
						document.documentElement.classList.add("light")
					}
				}
			}
			window.toggleColorMode()
		</script>
	</body>
</html>
<style lang="scss" is:global>

	:root {

		--stepHeight: calc(100vh - 180px);
		--stepHeight: 90vh;
		--margeSmall: 0.5rem;
		--margeMedium: 0.75rem;
		--margeBig: 1.25rem;
		
		--borderRadiusBig: 6rem;
		--borderRadiusMedium: 3rem;
		--borderRadiusSmall: 2rem;
		--borderRadiusSmallest: 1rem;

		--scrollbar-width: 0.25rem;

		--transitionDurationMedium: 0.3s;
		--transitionDurationShort: 0.18s;
		--transitionDurationLong: 0.7s;
		--transitionDurationVeryLong: 1.7s;
		--transitionDurationVeryVeryLong: 2.4s;

		--navbarIconWidth: 3rem;
		--navbarIconBorderRadius: 1rem;

		--font-size-smallest: 0.75rem;
		--font-size-small: 1rem;
		--font-size-medium-minus: 1.25rem;
		--font-size-medium: 1.5rem;
		--font-size-big: 1.75rem;
		--font-size-bigest: 2.25rem;

		&.light {
			--some-value: black;
			--some-other-value: white;

			--bg-main-015: rgba(255,255,255,0.015);
			--bg-main-05: rgba(255,255,255, 0.05);
			--bg-main-15: rgba(255,255,255, 0.15);
			--bg-main-25: rgba(255,255,255, 0.25);
			--bg-main-35: rgba(255,255,255, 0.35);
			--bg-main-45: rgba(255,255,255, 0.45);
			--bg-main-55: rgba(255,255,255, 0.55);

			--bg-main-65: rgba(255,255,255, 0.65);
			--bg-main-70: rgba(255,255,255, 0.7);
			--bg-main-75: rgba(255,255,255, 0.75);
			--bg-main-80: rgba(255,255,255, 0.8);
			--bg-main-85: rgba(255,255,255, 0.85);
			--bg-main-90: rgba(255,255,255, 0.9);
			--bg-main-95: rgba(255,255,255, 0.95);
			--bg-main-100: rgba(255,255,255, 1);


			--bg-contrast-05: rgba(0,0,0, 0.05);
			--bg-contrast-15: rgba(0,0,0, 0.15);
			--bg-contrast-20: rgba(0,0,0, 0.20);
			--bg-contrast-25: rgba(0,0,0, 0.25);
			--bg-contrast-30: rgba(0,0,0, 0.30);
			--bg-contrast-35: rgba(0,0,0, 0.35);
			--bg-contrast-40: rgba(0,0,0, 0.40);
			--bg-contrast-45: rgba(0,0,0, 0.45);
			--bg-contrast-55: rgba(0,0,0, 0.55);
			--bg-contrast-65: rgba(0,0,0, 0.65);
			--bg-contrast-70: rgba(0,0,0, 0.70);
			--bg-contrast-75: rgba(0,0,0, 0.75);
			--bg-contrast-85: rgba(0,0,0, 0.85);
		}

		.dark {
			--some-value: white;
			--some-other-value: black;

			--bg-main-015: rgba(0,0,0, 0.015);
			--bg-main-05: rgba(0,0,0, 0.05);
			--bg-main-15: rgba(0,0,0, 0.15);
			--bg-main-25: rgba(0,0,0, 0.25);
			--bg-main-35: rgba(0,0,0, 0.35);
			--bg-main-45: rgba(0,0,0, 0.45);
			--bg-main-55: rgba(0,0,0, 0.55);
			--bg-main-65: rgba(0,0,0, 0.65);
			--bg-main-70: rgba(0,0,0,  0.7);
			--bg-main-75: rgba(0,0,0, 0.75);
			--bg-main-80: rgba(0,0,0,  0.8);
			--bg-main-85: rgba(0,0,0, 0.85);
			--bg-main-90: rgba(0,0,0,  0.9);
			--bg-main-95: rgba(0,0,0, 0.95);
			--bg-main-100:rgba(0,0,0, 1);
			
			--bg-contrast-05: rgba(255,255,255, 0.05);
			--bg-contrast-15: rgba(255,255,255, 0.15);
			--bg-contrast-20: rgba(255,255,255, 0.20);
			--bg-contrast-25: rgba(255,255,255, 0.25);
			--bg-contrast-30: rgba(255,255,255, 0.30);
			--bg-contrast-35: rgba(255,255,255, 0.35);
			--bg-contrast-40: rgba(255,255,255, 0.40);
			--bg-contrast-45: rgba(255,255,255, 0.45);
			--bg-contrast-55: rgba(255,255,255, 0.55);
			--bg-contrast-65: rgba(255,255,255, 0.65);
			--bg-contrast-70: rgba(255,255,255, 0.70);
			--bg-contrast-75: rgba(255,255,255, 0.75);
			--bg-contrast-85: rgba(255,255,255, 0.85);
		}
	}

	html {
		font-family: system-ui, sans-serif;

		font-size: 8px;
		
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
		
		@media #{$desktopLarge} {
			font-size: 10px;
		}
	
		@media #{$desktopVeryLarge}{
			font-size: 11px;
		}
	}

	body {
		margin: 0;
		padding: 0;
		overflow: hidden;

		/* // font-family: "Playfair Display";
		font-family: "Roboto"; */
		font-weight: 300;

		/* // letter-spacing: 1.7px; */

		background-color: rgb(18, 18, 18);

		color: rgba(255,255,255,0.8);

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	}

	img {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}
</style>
